body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://www.shutterstock.com/shutterstock/videos/1048211866/thumb/1.jpg?ip=x480');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff; /* Texto en blanco */
}

.content-wrapper {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    border-radius: 10px;
    margin: 20px auto; 
    max-width: 900px; 
}

p {
    font-size: 17px; 
}

h1, h2 {
    text-align: center;
    background: linear-gradient(45deg, #dc9ec3, #7572db); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px 15px; 
    margin: 5px; 
    margin-left: 15px;
    border: 2px solid;
    border-image: linear-gradient(45deg, #ff6ec4, #7873f5) 1; 
    border-radius: 5px;
    color: #fff;
    background-color: transparent;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #e2eeea7b; 
    color: #fff; /
}


@media (max-width: 1200px) {
    .content-wrapper {
        max-width: 80%;
    }
}

@media (max-width: 768px) {
    .content-wrapper {
        max-width: 90%;
        padding: 15px;
    }

    p {
        font-size: 16px; 
    }

    .button {
        margin-left: 0;
        margin-right: 5px;
    }
}

@media (max-width: 480px) {
    .content-wrapper {
        max-width: 95%;
        padding: 10px;
    }

    h1, h2 {
        font-size: 24px; 
    }

    p {
        font-size: 15px; 
    }

    .button {
        padding: 8px 12px;
        font-size: 14px;
        margin: 3px;
        margin-left: 0;
        margin-right: 3px;
    }
}